# Ignore dist folder
dist/

# Ignore node_modules
node_modules/

# Sensitive files
.env*
*config*.json
!tsconfig.json
*secrets*
*.pem
*.key
credentials.json

# Ignore dev environment files
.vscode/
.idea/

.DS_Store