# Ignore dist folder
dist/

# But track the iife
!/dist/index.iife.js
!/dist/embed.go

# Sensitive files
.env*
*config*.json
*secrets*
*.pem
*.key
credentials.json

# Ignore dev environment files
.vscode/
.idea/